* {
    box-sizing: border-box;
    margin: auto;
    max-width: 600px;
   
}

body {
   
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 20px 10px;
    margin: 20px 0px;
    border-style: solid;
    border-width: 2px;
}

h3 {
    font-size: 24px;
   
}

.Nav {
    display: flex;
    background-color: #ec6b82;
    margin-bottom: 20px;
    height: 50px;
    padding: 10px 0px;
    
}

.Nav-icon {
    margin-right: -180px;
   
}

.travelDetails {
    display: flex;
    margin-bottom: 30px;
}

.coverImg {
    margin-right: 20px;
    max-width: 250px;
    height: 200px;
 
}

.location {
   margin-right: 10px;
   margin-top: -5px;
   font-weight: lighter;
}

.googlelink {
    color: grey;
    font-size: 12px;
}

.date {
    margin-top: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.pin {
    height: 14px;
    margin-right: 5px;
}
